# terraform.tfvars
# Copy this file and rename to terraform.tfvars
# DO NOT commit this file with real passwords!

project_name = "medusashop"
location     = "polandcentral"  
environment  = "prod" #dev

db_storage_mb = 32768
db_sku_name   = "B_Standard_B2s"
enable_geo_backup = false
enable_ha = false
enable_read_replica = false         

# IMPORTANT: Generate a strong password
# Use: openssl rand -base64 32
postgres_admin_password = "CHANGE_ME_Strong_Password_123!"
